:root{
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
}

*{
    padding: 0;
    margin: 0;
}
/*support classes*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
span{
    color: var(--Pale-Blue);
}
.bold{
    color: white;
    font-weight: bold;
}
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-Dark-Blue);
    background-image: url(./images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 45%;

    
}
.centerlized{
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
}
.start-wrapper{
    padding: 30px;
    background-color: var(--Dark-Blue);
    border-radius: 9px 90px 9px 9px;
    width: 20%;
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
}
ul{
    margin: 0;
    padding: 0;

    display: flex;
    gap: 20px;
}
ul li{
    padding: 10px;
    background-color: var(--Very-Dark-Blue);
    height: 25px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
ul li:hover{
    transform: translateY(-10px);
}
.end-wrapper{
    width: 80%;
    max-width: 720px;
    padding: 30px;
    height: calc(100% - 30px);
    background-color: var(--Dark-Blue);
    border-radius: 9px;
}
.top-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.storage-container{
    width: 150px;
    height: 70px;
    background-color: rgb(243, 243, 243);
    position: absolute;
    right: 0;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: -75px;
}
.triangle{
    background-color: transparent;
    width: 25px;
    height: 50px;
    position: absolute;
    bottom: -20px;
    right: 0;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(243, 243, 243);
}
.storage-container .inner{
    color: var(--Grayish-Blue);
   text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}
.very-bold{
    font-weight: bolder;
    color: black;
    font-size: 2rem;
}
.middle-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.process-bar{
    width: 100%;
    height: 15px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.inner-bar{
    width: 70%;
    border-radius: 16px;
    height: 100%;
    background: linear-gradient(90deg, hsl(6, 100%, 80%)  0%, hsl(335, 100%, 65%) 100%);
display: flex;
align-items: center;
justify-content: flex-end;
}
.circle{
    width: 10px;
    height: 70%;
    background-color: white;
    border-radius: 16px;
    margin-right: 1px;

}
.bottom-container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
 .centerlized{
    flex-direction: column;
    gap: 15px;
 }
 .start-wrapper{
    width: calc(100% - 60px);
 }
 .end-wrapper{
    width: calc(100% - 60px);
 }
 .triangle{
    display: none;
 }
 .storage-container{
   top: calc(100% + 70px);
   left: calc(50% - 150px/2);
 }
 main{
    background-size: cover;
    
 }
  }