body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500px;
    font-size: 18px;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    height: 100%;
   
   

}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
img{
    cursor: pointer;
}

.center{
    margin: 0 auto;
    max-width: 1300px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  margin-bottom: 30px;
  
}
.left-nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left-nav-container img:nth-child(1){
   display: flex;
   align-self: flex-start;
   margin-right: 20px;
}
.right-nav-container{
    display: flex;
   
    align-items: center;
    justify-content: center;

}
.right-nav-container ul li{
    padding: 22px;
    list-style: none;
}
.right-nav-container ul{
    display: flex;
  
    
}
.menuwrapper{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    transform: translateX(0%);

}


.nav-menu{
    display: flex;
    flex-direction: row;
}
.id{
    list-style: none;
  padding: 22px;
    position: relative;
    
}


nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 8%);
    transition: all 0.1s ease-in-out;
    
}
nav a img{
    padding: 22px;
}
#arrow{
    margin-left: 10px;
    transition: all 1.4s ease-in-out;
    
}

.menu{
    display: none;
    position: absolute;
    padding: 10px;
   top: 60px; 
  display: flex;
  flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10%;
    transition: all 0.5s;
    z-index: 99;
    box-shadow: 4px 10px 127px -38px rgba(0,0,0,0.75);
 
}
#menu1{
  
     height: 160px;
    width: 150px;
    left: -50px;

    bottom: 0;
}
#menu2{
   
    height: 120px;
    width: 130px;
}
.mainMenu {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.menu{
    display: none;
}

.menu ul li a{
  
   
    text-decoration: none;

    width: 100%;
 

    
 
}
.menu ul li{
  
   
    text-decoration: none;
    

    font-weight: 300;
 

    
 
}
#menu2ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
#menu2ul li{
    width: 70%;
    
  
}
#menu2ul li a:hover{
font-weight: bold;
}
#menu2ul li a{
   transition: all 0.1s ease-in-out;
}



#menu2 li{
    padding: 10px;
}

.menuItems{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;

}
.menuItems li a{
    transition: all 0.1s ease-in-out;
}
.menuItems li a:hover{
   font-weight: bold;
}
.imgs{
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-right: 10px;
}



#login{
 border: solid 1px hsl(0, 0%, 8%);
 border-radius: 20px;
padding: 17px;
padding-left: 30px;
padding-right: 30px;
}

.nav-open{
font-weight: 600;

}
span{
    text-align: center;
    display: none;
  
  
}


/* main */

main{
    display: flex;
    justify-content: center;
}
.overlayer{
    display: none;
    transition: all 1s ease-in;
}
.left-main-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
}
.left-main-container h1{
    font-weight: bold;
    font-size: 4.5rem;
}
.left-main-container img{
    width: 100px;
  
}
.logo-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-end;
    
}
.logo-wrapper img{
   margin-right: 20px;
   margin-left: 20px;
}
main img{
    width: 450px;
   

}
.par-div{
    max-width: 500px;
    word-wrap: break-word;
}
p{
    color: hsl(0, 0%, 41%);
   line-height: 1.6rem;
   font-weight: 500;
}
.menu-anim{
    transition: all 1s cubic-bezier(0.79,-0.24, 0.49, 1.99);
   
}

#button{
    padding: 20px;
    background-color: hsl(0, 0%, 8%);
    width: 120px;
    text-align: center;
    color: hsl(0, 0%, 98%);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
  
}
#button:hover{
    color: hsl(0, 0%, 8%);
    transition: 0.5;
    border: 1px solid hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}


/* mobile */
@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
   align-items: center;
  }
}

@media only screen and (max-width: 890px) {
  .nav-menu{

    flex-direction: column;
    }
    .right-nav-container ul{

        flex-direction: column;
    }
    nav{
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1000;
     
        
    }
    .menuwrapper{
        
        justify-content:flex-start;
        right: 0;
           display: none;
        top: 0;
        background-color: hsl(0, 0%, 98%);
        position: fixed;
        flex-direction: column;
        transition: all 1s cubic-bezier(0.21,-0.01, 0.5, 1.04);
       
         width: 45%;
         height: 100%;
    }
    main img{
        width: 60%;
    }
    .left-main-container h1{
        text-align: center;
    }
    .left-main-container p{
        text-align: center;
    }
    .left-main-container{
        width: 100%;
        display: flex;
       align-items: center;
    }
    .logo-wrapper{
        margin-top: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .left-nav-container{
     
        justify-content:flex-start;
        align-items: flex-start;
   
       
    }
    
    .menu{
     
        position: relative;
        background-color:transparent;
        right: 0;
        display: flex;
        display: none;
        justify-content: flex-end;
        top: 0;
     
   
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }
    #menu1{
        left: 0;
    }
    .overlayer{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        background-color: hsla(0, 0%, 24%, 0.737);
    }
  
    .right-nav-container{
        justify-content:center;
        align-items: flex-start;
        flex: 1;
    }
    .right-nav-container ul li{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-nav-container ul{
        width: 100%;
    }
#login{
    width: 60%;
}
 span{
    display: block;
    font-size: 3rem;
   display: flex;
   justify-content: flex-end;
   padding: 10px;
   padding-top: 0px;
 }
   
   
  }