@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{

    /* ### Primary */

    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
    
    /* ### Neutral */
    
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
body{
    background-color: var(--Light-gray);
}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-section-wrapper{
    width: 50%;
    max-width: 1000px;
    height: auto;
    min-height: 500px;
    padding: 40px;
}
.comment-section-wrapper-inner{
width: 100%;
height: 100%;
}
.comments{
    transition: all 0.5s ease-in-out;
        width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.comment{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.comment-inner{
    width: 100%;
    min-height: auto;
    padding: 15px;
    display: flex;
    
    justify-content: space-between;
    background-color: var(--White);
  border-radius: 10px;
}
.first-comment-container{
    width: 80px;
    max-height: 150px;
    min-height: 135px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vote-container{
    background-color: var(--Light-gray);
    border-radius: 15px;
    width: 50%;
    min-width: 40px;
    height: 85%;
}
.vote-container-inner{
    width: 100%;
    height: 100%;  
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
}
.vote-container-inner span:nth-child(2){
    font-size: 1.7rem;
    color: var(--Moderate-blue);
    cursor: pointer;
}
.vote-container-inner span{
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.vote-container-inner span:last-child,
.vote-container-inner span:first-child{
    color: var(--Grayish-Blue);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4rem;
}
.last-comment-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.last-header-comment-container{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.last-header-comment-container-first{
    width: auto;
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}
.profile-image{
    width: 35px;
    height: 35px;
    min-width: 35px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-image: url(./images/avatars/image-juliusomo.webp);
}
.username{
    color: var(--Dark-blue);
    font-weight: bold;
}
.postedAgo{
    color: var(--Grayish-Blue);
    font-weight: 400;
}

.last-header-comment-container-last{
    width: auto;
    gap: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
.reply-btn,.delete-btn,.edit-btn{
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    align-items: center;
}
.reply-btn,.edit-btn{
    color: var(--Moderate-blue);
}
.delete-btn{
    color: var(--Soft-Red);
}
.reply-btn img,.edit-btn img{
    width: 16px;
    height: 16px;
}
.reply-btn span,.edit-btn span{
    font-size: 1.1rem;
    color: var(--Moderate-blue);
    text-transform: capitalize;
    font-weight: bold;
}

/* animations */
@keyframes popUp {
    0%   {
   opacity: 0;
   transform: scale(70%);
    }
    100% {
opacity: 1;
transform: scale(100%);
    }
  }
.reply-btn:hover{
    filter: contrast(1%);
}
.delete-btn:hover{
    filter: contrast(1%);
}
.draft{
    animation-name: popUp;
    animation-duration: 1s;
}
.vote-container-inner span:hover{
    transform: rotateY(180deg);
}
/* ------------- */
.last-comment-area-container{
    width: 100%;
    color: var(--Grayish-Blue);
}

.last-comment-area-container p{
    font-weight: 400;
    word-wrap: break-word;
}
.comment-add{
    width: 100%;
    max-height: 400px;
    background-color: var(--White);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}
.comment-add-inner{
    display: flex;
    justify-content: space-between;
}
.comment-add-inner form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: self-start; 
    gap: 20px;
}
.comment-add-inner form button,.column-container form button{
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: var(--Moderate-blue);
    font-size: 1.1rem;
    font-weight: bold;
}
.comment-add-inner form textarea,.column-container form textarea{
    width: 80%;
    border-radius: 16px;
    border: 1px solid black;
    padding: 10px;
    max-height: 150px;
    max-width: 650px;
    min-width: 200px;
}
.column-container form textarea{
    max-width: 100%;
}

.column-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.you{
    background-color: var(--Moderate-blue);
    padding: 5px;
    border-radius: 5px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.you span{
    color: var(--White);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.profile-row{
    display: flex;
    gap: 10px;
    align-items: center;
}
.replys{
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.replys::before{
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--White);
    border-radius: 20px;
    position: absolute;
    right: 110%;
    top: 0%;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 30px;
    height: 20%;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 150px;
    max-width: 800px;
    border: 1px solid #888;
    width: 50%; 
  }
  .modal-content h2{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
  }
  .modal-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .modal-row button{
    width: 50%;
    min-height: 50px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
  }
  .modal-row button span{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .modal-row button:nth-child(1){
   background-color: var(--Grayish-Blue);
  }
  .modal-row button:nth-child(2){
    background-color: var(--Soft-Red);
  }
  .modal-inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal-inner-container p{
    font-size: 1.2rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
  }
  .highlighted{
    color: var(--Moderate-blue);
    font-weight: 500;
  }
  .confetti-canvas{
    position: absolute;
    min-height: 300px;
    width: 100px;
    top: -100%;
  }
  @media only screen and (max-width: 1130px) {
    .comment-section-wrapper {
        width: 80%;
    }
  }
  @media only screen and (max-width: 720px) {
    .comment-inner{
        flex-direction: column-reverse;
    }
   .last-header-comment-container{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
   }
   .last-header-comment-container-last{
    align-self: flex-end;
   }
    .vote-container{
        width: auto;
        min-width: 90px;
        height: auto;
    }

    .vote-container-inner{
        flex-direction: row;
        padding: 7px;
    }
    .comment-add-inner form{
        flex-direction: column;
          }
    .first-comment-container{
        min-height: auto;
    }
    .confetti-canvas{
        left: -45%;
        top: -150px;
    }   .comment-section-wrapper{
        width: 100%;
    }
  }
