
/* support classes */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color:  hsl(0, 0%, 91%);
  overflow: hidden;
 
}
h1{
    padding: 0;
    margin: 0;
}
h2:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

a{
    text-decoration: none;
    word-wrap: break-word;
    cursor: pointer;
    
}
img{
    cursor: pointer;
}
a:hover{
    color: hsl(219, 85%, 26%);
}
h2{
    font-size: 18px;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    font-weight: 800;
}
.hide{
   opacity: 0;
}
.moveaway{
    transform: translateX(150%);
}
.center{
    margin: 0 auto;
    max-width: 1430px;
}
.blue{
    color: hsl(219, 85%, 26%);
}
.gray{
    color: hsl(0, 0%, 50%);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

.card-wrapper{
    background-color:  hsl(0, 0%, 100%);
    height: 90%;
        width: 90%;
    padding: 20px;
    border-radius: 16px;
    max-width: 800px;
    max-height: 1110px;
    overflow-y: auto;
    overflow-x: hidden;
 


}

.card-header{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 5px;
 
}
.card-header-left{
    display: flex;
    align-items: center;
}
.point{
    background-color: hsl(224, 47%, 30%);
    height: 30px;
    width: 35px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}
.point span{
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: larger;

    
}
.card-header-right a{
    color: hsl(224, 19%, 19%);
    font-weight: 600;
}
.card-header-right a:hover{
    color: hsl(219, 80%, 33%);
}

/* body */

.card-main-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
  

}
.post{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color:  hsl(210, 60%, 98%);
    border-radius: 8px;
}
.post:nth-child(4){
    background-color: transparent;
}
.post:nth-child(5){
    background-color: transparent;
}
.post:nth-child(6){
    background-color: transparent;
}
.post:nth-child(7){
    background-color: transparent;
}
.post-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    transition: all 1s ease-in;
}
.post-content{
    display: flex;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
  
    
    flex-wrap: wrap;
}
.post-content p{
    margin-right: 10px;
    margin: 0;
    margin-right: 10px;
 color: hsl(0, 0%, 39%);
}
.post-time span{
    color: hsl(0, 0%, 75%);
}
.post-content a{
   
    font-weight: 900;
}

.dot{
    width: 10px;
    height: 10px;
    max-width: 20px;
    max-height: 20px;
    background-color: rgb(255, 72, 0);
  border-radius: 16px;
   margin-left: 10px;
display: flex;
flex-direction: column;
transition: all 1s ease-in-out;
}
.post img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 10px;
   
}
.top{
    align-self: flex-start;
}
.space{
    justify-content: space-between;
}
.text{
    display: flex;
}

.private-message{
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.52, 0.07, 0.56, 1.1);
 
}
.private-message:hover{
    background-color: hsl(205, 33%, 90%);
}


@media only screen and (max-width: 420px) {
   .post img{
    width: 30px;
    height: 30px;
   }
   .post-time span{
    font-size: x-small;
   }
   .card-main-body{
    justify-content: space-evenly;
   }
   body{
    font-size: x-small;
   }
   h2{
    font-size: small;
   }
   h1{
    font-size:medium;
   }
   .point{
    height: 20px;
    width: 22px;
    border-radius: 5px;
    margin-left: 5px;
   }
   .dot{
    height: 5px;
    width: 5px;
   }
   .point span{
    font-size: x-small;
   }
   a{
    font-size: x-small;
   }
   .card-wrapper{
    width: 100%;
  
   }
   .card-header{
    padding: 10px;
   margin-bottom: 5px;
   }

  }

  @media only screen and (max-width: 500px){
    body{
        font-size: x-small;
       }
       p{
        font-size: small;
       }
       h2{
        font-size: x-small;
       }
       h1{
        font-size: large;
       }
       .post-time span{
        font-size: small;
       }
       img{
        width: 35px;
        height: 35px;
       }
       a{
        font-size: x-small;
       }
    }


  @media only screen and (max-width: 1000px){
    .card-wrapper{
        height: 100%;
      
       }
  }

  @media only screen and (max-width: 800px){
    body{
        font-size: medium;
       }
       .post-time span{
        font-size: small;
       }
       h2{
        font-size: medium;
       }
     
       .post img{
        width: 40px;
        height: 40px;
       }
       a{
        font-size: medium;
       }
  }
