<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interactive comment section app</title>
    <link type="text/css" rel="stylesheet" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/ScrollTrigger.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</head>
<body>
    <main>
         <div class="comment-section-wrapper">
             <div class="comment-section-wrapper-inner">
               <div class="comments">
                
               </div>
                 <!-- add comment area -->
                 <div class="comment-add">
                      <div class="comment-add-inner">
                           <form class="new-comment-send">        
                            <div class="profile-image"></div>
                   
                                <textarea name="content" placeholder="Add a comment..."></textarea>
                                <button type="submit" name="submit">send</button>
                           </form>
                      </div>
                 </div>
             </div>
         </div>
    </main>
    <script src="../script.js"></script>
</body>
</html>