body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
   font-family: 'Space Grotesk', sans-serif;
   font-size: 18px;
   text-transform: uppercase;
  
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.card{
    position: absolute;
   
    height: 220px;
    width: 400px;
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.45, 0.14, 0.61, 0.99);
    animation-name: transformX;
  animation-duration: 2s;
  transform: translateX(0%);
    
}
@keyframes transformX {
    0%   { transform: translateX(-200%);}
    100% {  transform: translateX(0%);}
  }
  @keyframes transformY {
    0%   { transform: translateY(-200%);}
    100% {  transform: translateY(0%);}
  }
.card-container{
  padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
  
}
.card-digits{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
   
 
}
.card-digits span{
    font-size: 2.02rem;
    color: white;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
}
.card-bottom span{
    color: white;
   
}
.card:nth-child(1){
background-image: url(./imgs/bg-card-front.png);
background-repeat: no-repeat;
background-size: 100% 100%;
top: 20%;
left: 40%;
z-index: 2;


}
.card:nth-child(2){
    background-image: url(./imgs/bg-card-back.png);
background-repeat: no-repeat;
background-size: 100% 100%;
top: 52%;
left: 50%;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
}
.card-box-cvc{
    width: 80%;
    border-radius: 2px;
    height: 35px;
    background-color: transparent;
    margin-right: 20px;
 

}
.date-wrapper{
    display: flex;
}
.card-cvc{
    color: white;
    width: 100%;
    height: 100%;

     display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-end;
}
.box-left{
    width: 35%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-image: url(./imgs/bg-main-desktop.png);
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  
}
.box-right{
    width: 65%;
    position: relative;
}

.input-container{
    display: flex;
position: absolute;
transition: all 1s ease-in-out;
left: 30%;
top: 30%;
width: 350px;
overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.45, 0.14, 0.61, 0.99);
    animation-name: transformY;
  animation-duration: 2s;
  transform: translateY(0%);
 
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-input-wrapper{
 display: flex;
 justify-content: space-between;
 margin-top: 5px;
    
}
.error-wrapper{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: hsl(0, 100%, 66%);
    text-transform: none;
}
.error-wrapper label:nth-child(2){
    flex-basis: 48%;
}
.lbl-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.lbl-wrapper label{
    font-size: 0.8rem;
}
.lbl-wrapper label:nth-child(2){
    flex-basis: 48%;
}

form input{
    height: 40px;
    border-radius: 6px;
    border: 1px solid hsl(270, 3%, 87%);
}
form input:focus{
  
 
    border-radius: 6px;
border: 1px solid hsl(278, 94%, 30%);
}


.card-input-wrapper .field:nth-child(1),
 .card-input-wrapper .field:nth-child(2){
    width: 60px;
}
.card-input-wrapper .field:nth-child(3){
    width: 50%;
}
.btn{
    margin-top: 40px;
    height: 45px;
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    font-size: 1.1rem;
    
}
.card-name {
    font-weight: 300;
}
.card-date{
    font-weight: 300;
}
.error{
    border: 1px solid hsl(0, 100%, 66%);
}
.success{
    border: 1px solid hsl(138, 100%, 55%);
}
.field{
    display: flex;
    flex-direction: column;
}
small{
    font-size: 0.8rem;
 
    margin-top: 5px;
    color: hsl(0, 100%, 66%);
    white-space: none;
    text-transform: none;
}
.maininput{
    margin-top: 5px;

}
.mainlbl{
    margin-top: 10px;
}

.hide{
    display: none;
}
.logo{
    transition: all 0.5s ease-in-out;
    transform: translateX(400%);
}
.headerText{
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 40px;
    transition: all 0.5s ease-in-out;
    transform: translateX(200%);
    
}
.underText{
    font-size: 1rem;
    color: hsl(270, 3%, 87%);
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    transform: translateX(200%);
}
button{
    height: 45px;
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 1.1rem;
    margin-top: 20px;
    transition: all 1s ease-in-out;
    transform: translateX(200%);
}



@media only screen and (max-width: 1130px) {
  .card{
    width: 100%;
  }
  .input-container{
    width: 50%;
 
    }
    .lbl-wrapper label:nth-child(2){
        flex-basis: 55%;
    }
    .card-digits span{
        font-size: 1.6rem;
      }
    form input{
        height: 35px;
        width: 100%;
    } 
     .lbl-wrapper label{
    font-size: 0.6rem;
    }
    .mainlbl{
        font-size: 1rem;
    }
  }


  @media only screen and (max-width: 790px) {
    .mainlbl{
        font-size: 0.8rem;
    }
    .card-box-cvc span{
        font-size: 1rem;
    }
    form input{
        height: 35px;
        width: 230px;
    } 
    .card-bottom span{
        font-size: 0.9rem;
     }
    .lbl-wrapper label:nth-child(2){
        flex-basis: 50%;
    }
      form input{
          height: 45px;
          width: 100%;
      }
      main{
        flex-direction: column;
      }
      .box-left{
        width: 100%;
        height: 40%;
      }
      .box-right{
        width: 100%;
        height: calc(100%);
      }
      .card{
        width: 50%;
        height: 90%;
      }
      .card-container{
        height: 80%;
      }
    
      .card-top img{
        width: 20%;
      }
      .card:nth-child(1){
        left: 20%;
        top: 70%;
      }
      .card-digits span{
        font-size: 1.4rem;
      }
      .card:nth-child(2){
        left: 30%;
        top: 30;
      }
    }



    @media only screen and (max-width: 500px) {
        .mainlbl{
            font-size: 0.8rem;
        }
        .lbl-wrapper label:nth-child(2){
            flex-basis: 50%;
        }
        .card-box-cvc span{
            font-size: 0.6rem;
        }
        form input{
            height: 50px;
            width: 100%;
          
        }
         
         .card-bottom span{
            font-size: 0.7rem;
         }
          .card{
            width: 50%;
            height: 150px;
          }
          .card-container{
            height: 120px;
          }
        
          .card-top img{
            width: 20%;
          }
          .card:nth-child(1){
            left: 20%;
            top: 70%;
          }
          .card-digits span{
            font-size: 1.0rem;
          }
          .card:nth-child(2){
            left: 30%;
            top: 30;
          }
        }